{% extends 'app.twig' %}

<h1>Results</h1>

<p>You matched with <!-- NUMBER OF COMPANIES MATCHED --> </p>

<div class="matches">
    {% for company in matchedCompanies %}
        <div class="matches__match">
            <h3>{{ company.name }}</h3>
            <p>{{ company.description }}</p>
            <a href="#" class="matches__match__more">more</a>

            <div class="match__match__details" style="display:none">
                <p><strong>Email:</strong> {{ company.email }}</p>
                <p><strong>Phone:</strong> {{ company.phone }}</p>
                <p><strong>Website:</strong> {{ company.website }}</p>
            </div>
        </div>
    {% endfor %}
</div>